<div class="reveal">
	<div class="slides">
		<section class="slide">
			{{> splash }}
		</section>
		<section class="slide">
			{{> one }}
		</section>
		<section class="slide">
			{{> two }}
		</section>
		<section class="slide">
			{{> three }}
		</section>
	</div>
</div>
