.slide {
	img {
		max-width: 100%;
	}
	.jumbo-text {
		color: white;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 120px;
		letter-spacing: 1px;
		font-family: "Avenir Bold";
		line-height: 1.2;
		margin-bottom: 0;
		text-align: center;
	}
	h1 {
		font-size: 40px;
		color: white;
		text-align: left;
		font-family: "Avenir";
		margin-bottom: 1em;
		text-shadow: 1px 1px 1px $black;

		code {
			color: $solarized-yellow-text;
		}
	}
}

.progress {
	height: 5px;

	span {
		background-color:$solarized-yellow-text;
	}
}


.bootstrap,
.foundation,
.inuit,
.toolkit,
.compass,
.caffeinated,
.sassy-math,
.bourbon {
	position: relative;
	display: inline-block;
	
	&:before {
		position: absolute;
		right: 16px;
		height: 24px;
		top: -24px;
		padding: 2px 6px;
		color: white;
	}

	&.no-label:before {
		display: none;
	}

	img {
		border: 4px solid;
	}
}

.foundation {
	&:before {
		content: 'Foundation';
		background: $foundation-primary;
	}

	img {
		border-color: $foundation-primary;
	}
}

.bootstrap {
	&:before {
		content: 'Bootstrap';
		background: $bootstrap-primary;
	}

	img {
		border-color: $bootstrap-primary;
	}
}

.inuit {
	&:before {
		content: 'inuit.css';
		background: $inuit-primary;
	}

	img {
		border-color: $inuit-primary;
	}
}

.toolkit {
	&:before {
		content: 'Team Sass Toolkit';
		background: $toolkit-primary;
	}

	img {
		border-color: $toolkit-primary;
	}
}

.sassy-math {
	&:before {
		content: 'Team Sass Sassy-math';
		background: $toolkit-primary;
	}

	img {
		border-color: $toolkit-primary;
	}
}

.compass {
	&:before {
		content: 'Compass';
		background: $compass-primary;
	}

	img {
		border-color: $compass-primary;
	}
}

.caffeinated {
	&:before {
		content: 'Caffeinated Labs';
		background: $caffeinatedlabs-primary;
	}

	img {
		border-color: $caffeinatedlabs-primary;
	}
}

.bourbon {
	&:before {
		content: 'Bourbon';
		background: $bourbon-primary;
	}

	img {
		border-color: $bourbon-primary;
	}
}



.mine-and-theirs {
	position: relative;
	min-height: 460px;

	.first,
	.second {
		position: absolute;
		border-bottom: 1px solid $black;
		border-right: 1px solid $black;
	}

	.first {
		top: 0;
		left: 0;
	}

	.second {
		bottom: 0;
		right: 0;
	}
}

.mine-and-theirs--diagonal {
	@extend .mine-and-theirs;
	background: if($DEBUG, #000, null);
}


.side-by-side {
	position: relative;

	.side {

	}

	.side--right {
//		@extend .side;
		position: absolute;
		top:0;
		right:0;
	}

}

.each-on-top-of {
	position: relative;

	.each {
		position: absolute;
		top:0;
		left: 0;
	}
}


.each-columns {
	display: table;

	.each {
		display: table-cell;
		vertical-align: top;
		padding: 0 .5em;
	}
}

.each-columns--random {
	display: block;
	position: relative;
	height: 600px !important;
	border: 1px solid red;

	.each {
		height: 600px !important;
		position: absolute;

		&.visible {
			animation: wobble 100ms linear;
		}

		&:nth-child(1) {
			top: 10px;
			left: 0;
		}

		&:nth-child(2) {
			top: 30px;
			left: 200px;
			z-index: 2;
		}

		&:nth-child(3) {
			top: 10px;
			right: 0;
		}

		&:nth-child(4) {
			top: 50px;
			z-index: 2;
		}

		&:nth-child(5) {
			top: 65px;
			left: 300px;
			z-index: 5;
		}

		&:nth-child(6) {
			top: 40px;
			left: 100px;
			z-index: 4;
		}
	}
}

@keyframes wobble {
	0%  { transform:  rotate(0deg); }
	20%  { transform:  rotate(2deg); }
	50%  { transform:  rotate(-2deg); }
	100%  { transform:  rotate(0deg); }
}
.wobble {  }