.slide {
	img {
		max-width: 100%;
	}
	.jumbo-text {
		color: white;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 120px;
		letter-spacing: 1px;
		font-family: "Avenir Bold";
		line-height: 1.2;
		margin-bottom: 0;
		text-align: center;
	}
	h1 {
		font-size: 40px;
		color: white;
		text-align: left;
		font-family: "Avenir";
		margin-bottom: 1em;
		text-shadow: 1px 1px 1px $black;

		code {
			color: $solarized-yellow-text;
		}
	}
}

.progress {
	height: 5px;

	span {
		background-color: $solarized-grey-text;
	}
}



.mine-and-theirs {
	position: relative;
	min-height: 460px;

	.mine,
	%theirs {
		position: absolute;
		border-bottom: 1px solid $black;
		border-right: 1px solid $black;
	}

	.mine {
		top: 0;
		left: 0;
	}

	%theirs {
		bottom: 0;
		right: 0;

	}

	.inuit,
	.bootstrap,
	.foundation {
		@extend %theirs;
	}
}

.mine-and-theirs--diagonal {
	@extend .mine-and-theirs;
	background: if($DEBUG, #000, null);
}


.side-by-side {
	position: relative;

	.side {

	}

	.side--right {
//		@extend .side;
		position: absolute;
		top:0;
		right:0;
	}

}