/*
 * This file is reserved for your global style rules.
 */

html {
	height: 100%;
	font-family: 'Gotham Light', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

	font-size: 16px;
	fill: currentColor;

//	color: black;
//	background: yellowgreen;
}

body {
	height: 100%;
	margin: 0;
	background: $body-bg;
}

// User select
// For selecting text on the page
* {
	user-select: none;
}
