//$FONT_PATH: "./assets/fonts/";
$FONT_PATH: "../fonts/";

//<a href="assets/fonts/proximanova-bold-webfont.eot">font</a>




/* BASELINE
|--------------------------------------------------------------------------
|
| Units of measurement guidelines:
|
| PIXELS        : hairline borders, css shadows,
| EM            : media queries, typography, elements related to typography like margins
| REM           : don't use, no IE8 support     (ideally, would use rems for type, with em fallbacks)
| PERCENTAGE    : base resets, responsive images, layout, containers    (you do not know where your module is going on a page, so you don't know its absolute size)
| RAW           : line-heights, border-image    (unitless, so the line height is a multiple of the current element's font-size)
|
*/

$BASELINE:              24px;

$BASE_FONT_SIZE:        16px;
$BASE_PERCENTAGE:       100%;


$TRANSITION_SPEED:      200ms;
$OPACITY_INDEX:         .6;
$TRANSITION_INDEX:      15%;

$RGBA_TRANSITION_INDEX: .8;



/* FONT IMPORTS
|--------------------------------------------------------------------------
*/

$PROXIMA_NOVA_REGULAR: 'proximanova-regular-webfont';
$PROXIMA_NOVA_BOLD: 'proximanova-bold-webfont';

$AVENIR_MEDIUM: 'Avenir 65 W01 Medium';
$AVENIR_BLACK: 'Avenir 95 W01 Black';


@include font-face(
		$font-family: 'Proxima Nova',
		$font-path: $FONT_PATH,
		$font-name: $PROXIMA_NOVA_REGULAR,
		$weight: normal,
		$style: normal
);

@include font-face(
	$font-family: 'Proxima Nova Bold',
	$font-path: $FONT_PATH,
	$font-name: $PROXIMA_NOVA_BOLD,
	$weight: normal,
	$style: normal
);

@include font-face(
	$font-family: 'Avenir',
	$font-path: $FONT_PATH,
	$font-name: $AVENIR_MEDIUM,
	$weight: normal,
	$style: normal
);

@include font-face(
	$font-family: 'Avenir Bold',
	$font-path: $FONT_PATH,
	$font-name: $AVENIR_BLACK,
	$weight: normal,
	$style: normal
);


/* COLORS
|--------------------------------------------------------------------------
*/

// Color palette

// Start official Solarized colors
// https://github.com/altercation/vim-colors-solarized
$BASE03:    #002B36;
$BASE02:    #073642;
$BASE01:    #586E75;
$BASE00:    #657B83;
$BASE0:     #839496;
$BASE1:     #93A1A1;
$BASE2:     #EEE8D5;
$BASE3:     #FDF6E3;
$YELLOW:    #B58900;
$ORANGE:    #CB4B16;
$RED:       #DC322F;
$MAGENTA:   #D33682;
$VIOLET:    #6C71C4;
$BLUE:      #268BD2;
$CYAN:      #2AA198;
$GREEN:     #859900;

$BRBLACK:   #1C1C1C;
$BLACK:     #262626;
$BRGREEN:   #4E4E4E;
$BRYELLOW:  #585858;
$BRBLUE:    #808080;
$BRCYAN:    #8A8A8A;
$WHITE:     #D7D7AF;
$BRWHITE:   #FFFFD7;
$YELLOW:    #AF8700;
$BRRED:     #D75F00;
$RED:       #D70000;
$MAGENTA:   #AF005F;
$BRMAGENTA: #5F5FAF;
$BLUE:      #0087FF;
$CYAN:      #00AFAF;
$GREEN:     #5F8700;
// end Solarized

$solarized-grey-text:  $BASE1;

// Semantic palette

$body-bg:   $BASE02 !default;