.twenty-one {
	p {
		text-align: left;
		font-size: 30px;
		font-family: "Avenir";
		margin-bottom: .5em;
	}

	a {
		color: $solarized-grey-text;
		text-shadow: 1px 1px 1px $black;
		text-decoration: none;
	}
}