<section>
	<h1><span class="sol-yellow">1.</span> Grammar proof your selectors.</h1>

	<aside class="notes">
		1. Grammar proof your selectors
	</aside>
</section>

<section>
	<h1 class="fragment" data-fragment-index="0">Grammar proof your selectors.</h1>

	<div class="mine-and-theirs--diagonal">
		<div class="first mine">
			<img src="{{ SP.DIR_IMAGES }}/eight-mine.jpg" width="850" height="304">
		</div>

		<div class="second inuit fragment" data-fragment-index="0">
			<img src="{{ SP.DIR_IMAGES }}/eight-inuit.jpg" width="638" height="286">
		</div>
	</div>

	<aside class="notes">
		We all know the pain of debugging typos in selectors<br>
		This happens amazingly frequently!  particularly with strange words like 'grey'<br>
		So, when you’re writing selectors,<strong style="color:green"> [NEXT]</strong><br>
		<strong>Grammar proof your selectors ! like Inuit</strong><br>
		And now it's ok if a developer misspells the 'gray' class
	</aside>
</section>


