<section>
	<h1>Grammar proof your selectors.</h1>
</section>

<section>
	<h1 class="fragment" data-fragment-index="0">Grammar proof your selectors.</h1>

	<div class="mine-and-theirs--diagonal">
		<div class="first mine">
			<img src="{{ SP.DIR_IMAGES }}/eight-mine.jpg" width="850" height="304">
		</div>

		<div class="second inuit fragment" data-fragment-index="0">
			<img src="{{ SP.DIR_IMAGES }}/eight-inuit.jpg" width="638" height="286">
		</div>
	</div>
</section>


<aside class="notes">
	We should all know the pain of debugging typos in selectors? This is something that happens a lot !<br>
	So, when you’re writing selectors,<br>
	<strong>Grammar proof your selectors !</strong>
</aside>
