<section>
	<h1><span class="sol-yellow">7.</span> Use a debug flag.</h1>
</section>

<section>
	<h1 class="fragment" data-fragment-index="0">Use a debug flag.</h1>

	<div class="inuit">
		<img src="{{ SP.DIR_IMAGES }}/fourteen-debug-config-inuit.jpg" width="" height="">
	</div>
	<div class="inuit no-label">
		<img src="{{ SP.DIR_IMAGES }}/fourteen-debug-inuit.jpg" width="" height="">
	</div>

	<br>
	<br>

	<div class="improved fragment" data-fragment-index="0">
		<img src="{{ SP.DIR_IMAGES }}/fourteen-improved.jpg" width="" height="">
	</div>

	<aside class="notes">
		Inuit have a file called debug.scss and by setting "debug-mode" to true, it paints useful things in the browser<br>
		like outlining elements without alt tags<br>
		So we could use a debug concept in our code<strong>NEXT</strong>
		Maybe it would be useful to add borders or background colors to layout elements?<br>
		we can do things like using the ternary function to add a border if debug is true, or ignore if debug is false
	</aside>

</section>
