<section>
	<h1 class="fragment" data-fragment-index="0">Use objects for configs.</h1>

	<div class="each-on-top-of">
		<div class="each mine">
			<img src="{{ SP.DIR_IMAGES }}/four-mine.jpg" height="" width="">
		</div>

		<div class="each toolkit fragment" data-fragment-index="0">
			<img src="{{ SP.DIR_IMAGES }}/four-toolkit.jpg" height="" width="">
		</div>
	</div>


	<aside class="notes">
		Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
	</aside>
</section>

<section>
	<h1>Access config objects with getters and setters.</h1>

	<div class="toolkit">
		<img src="{{ SP.DIR_IMAGES }}/object-config-getter-toolkit.jpg" height="600" width="960">
	</div>

	<div class="toolkit fragment" data-fragment-index="0">
		<img src="{{ SP.DIR_IMAGES }}/object-config-use-getter-toolkit.jpg" height="600" width="960">
	</div>


	<aside class="notes">
		Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
	</aside>
</section>



