<section>
	<h1><span class="sol-yellow">7.</span> Use a debug flag.</h1>

	<aside class="notes">
		Seven. Use a debug flag.
	</aside>
</section>

<section>
	<h1 class="fragment" data-fragment-index="0">Use a debug flag.</h1>

	<div class="inuit">
		<img src="{{ SP.DIR_IMAGES }}/fourteen-debug-config-inuit.jpg" width="" height="">
	</div>
	<div class="inuit no-label">
		<img src="{{ SP.DIR_IMAGES }}/fourteen-debug-inuit.jpg" width="" height="">
	</div>

	<br>
	<br>

	<div class="improved fragment" data-fragment-index="0">
		<img src="{{ SP.DIR_IMAGES }}/fourteen-improved.jpg" width="" height="">
	</div>

	<aside class="notes">
		Inuit have a variable called $debug-mode and by setting this to true,<br>
		It executes the contents of a non-related file called debug<br>
		and this file is used to paint useful things in browser like outlining image elements without alt tags<br>
		<br>
		So we could use a debug concept in our code as well<strong  style="color:green"> [NEXT]</strong>
		Maybe it would be a useful way of debugging layout elements<br>
	</aside>
</section>
