<section>
	<h1><span class="sol-yellow inline-block">8.</span> <span class="inline-block">Format your mixin parameters<br>so they are <em>easy</em> to read.</span></h1>

	<aside class="notes">
		Eight. Format your mixin parameters so they are easy to read.<strong style="color:green"> [DOWN]</strong>
	</aside>
</section>


<section>
	<h1 class="fragment" data-fragment-index="0">Format your mixin parameters<br>so they are <em>easy</em> to read.</h1>
	<div class="mine-and-theirs--diagonal">
		<div class="first mine">
			<img src="{{ SP.DIR_IMAGES }}/nineteen-mine.jpg" height="" width="">
		</div>

		<div class="second compass fragment" data-fragment-index="0">
			<!--<div class="inuit">-->
			<a href="https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/css3/_text-shadow.scss"><img src="{{ SP.DIR_IMAGES }}/nineteen-compass.jpg" height="" width="700"></a>
		</div>
	</div>

	<aside class="notes">
		Don't write mixin parameters on one line and use lots of white space between them <strong  style="color:green"> [DOWN]</strong><br>
		Format them like Compass do. <br>
		so that people can read them really quickly <strong style="color:#1e90ff">[RIGHT]</strong>
	</aside>
</section>
