<section>
	<h1>Format your mixin parameters<br>so they are <em>easy</em> to read.</h1>
</section>


<section>
	<h1 class="fragment" data-fragment-index="0">Format your mixin parameters<br>so they are <em>easy</em> to read.</h1>
	<div class="mine-and-theirs--diagonal">
		<div class="first mine">
			<img src="{{ SP.DIR_IMAGES }}/nineteen-mine.jpg" height="" width="">
		</div>

		<div class="second compass fragment" data-fragment-index="0">
			<!--<div class="inuit">-->
			<img src="{{ SP.DIR_IMAGES }}/nineteen-compass.jpg" height="" width="466">
		</div>
	</div>
</section>


<aside class="notes">
	Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
</aside>
