<section>
	<h1><span class="sol-yellow inline-block">8.</span> <span class="inline-block">Format your mixin parameters<br>so they are <em>easy</em> to read.</span></h1>
</section>


<section>
	<h1 class="fragment" data-fragment-index="0">Format your mixin parameters<br>so they are <em>easy</em> to read.</h1>
	<div class="mine-and-theirs--diagonal">
		<div class="first mine">
			<img src="{{ SP.DIR_IMAGES }}/nineteen-mine.jpg" height="" width="">
		</div>

		<div class="second compass fragment" data-fragment-index="0">
			<!--<div class="inuit">-->
			<img src="{{ SP.DIR_IMAGES }}/nineteen-compass.jpg" height="" width="700">
		</div>
	</div>

	<aside class="notes">
		Don't write mixin parameters in a line<br>
		and use plenty of space between them <strong>NEXT</strong> so people can quickly read them<br>
		like Compass do.
	</aside>
</section>
