<section>
	<h1><span class="sol-yellow">2.</span> You can chain import statements.</h1>

	<aside class="notes">
		2.  You can chain import statements.
	</aside>
</section>

<section>
	<h1 class="fragment" data-fragment-index="1">Chain your import statements.</h1>

	<div class="mine-and-theirs--diagonal">
		<div class="first ">
			<div class="side-by-side">
				<div class="side mine">
					<img src="{{ SP.DIR_IMAGES }}/one-mine.jpg" height="" width="">
				</div>
				<div class="side--right fragment" data-fragment-index="0">
					<img src="{{ SP.DIR_IMAGES }}/one-script-mine.jpg" height="" width="480">
				</div>
			</div>

		</div>

		<div class="second foundation fragment" data-fragment-index="1">
			<img src="{{ SP.DIR_IMAGES }}/one-foundation.jpg" height="" width="800">
		</div>
	</div>


	<aside class="notes">
		Something much less annoying, but something always felt wrong about repeating the @import directive.<strong>NEXT</strong><br>
		It feels much more natural to chain the import, like how you chain JavaScript variables,<strong>NEXT</strong><br>
		well it turns out you can, Foundation do this<br>
		<strong>You can chain import statements !</strong>
	</aside>
</section>
