<h1 class="fragment" data-fragment-index="1">Chain import statements.</h1>



<div class="mine">
	<img src="{{ SP.DIR_IMAGES }}/chain-import-mine.jpg" height="" width="">
</div>
<div class="mine fragment" data-fragment-index="0">
	<img src="{{ SP.DIR_IMAGES }}/chain-import-script.jpg" height="" width="">
</div>

<div class="foundation fragment" data-fragment-index="1">
	<img src="{{ SP.DIR_IMAGES }}/chain-import-foundation.png" height="" width="">
</div>



<aside class="notes">
	Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
</aside>
