<section>
	<h1><span class="sol-yellow">2.</span> Chain your import statements.</h1>
</section>

<section>
	<h1 class="fragment" data-fragment-index="1">Chain your import statements.</h1>

	<div class="mine-and-theirs--diagonal">
		<div class="first ">
			<div class="side-by-side">
				<div class="side mine">
					<img src="{{ SP.DIR_IMAGES }}/one-mine.jpg" height="" width="">
				</div>
				<div class="side--right fragment" data-fragment-index="0">
					<img src="{{ SP.DIR_IMAGES }}/one-script-mine.jpg" height="" width="480">
				</div>
			</div>

		</div>

		<div class="second foundation fragment" data-fragment-index="1">
			<img src="{{ SP.DIR_IMAGES }}/one-foundation.jpg" height="" width="800">
		</div>
	</div>
</section>


<aside class="notes">
	It’s less annoying, but something always feels wrong about repeating the @import directive. It feels much more natural to chain the import, like chaining JavaScript variables,<br>
	well it turns out you can,<br>
	<strong>Chain import statements !</strong>
</aside>
