<h1>Chain import statements.</h1>
<div class="stacked-pair">
	<div class="mine">
		<img src="{{ SP.DIR_IMAGES }}/chain--mine.png" height="300px" width="640">
	</div>
	<div class="foundation">
		<img src="{{ SP.DIR_IMAGES }}/chain--foundation.png" height="300px" width="640">
	</div>
</div>


<aside class="notes">
	Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
</aside>
