<section>
	<h1><span class="sol-yellow">6.</span> Mixin libraries are cheap</h1>

	<aside class="notes">
		Another one that took me a while to figure out<br>
		Mixin libraries are cheap!
	</aside>
</section>

<section>
	<div class="bourbon">
		<img src="{{ SP.DIR_IMAGES }}/ten-bourbon.jpg" width="" height="">
	</div>

	<aside class="notes">
		They don't output any CSS. So you can have as many Mixins as you like and unless you use them they won't have an impact on performance
	</aside>
</section>


<section>
	<h1>.. or optionally output CSS</h1>

	<aside class="notes">
		Or some Frameworks provide an option to generate CSS or not like Foundation
	</aside>
</section>


<section>
	<div class="foundation">
		<img src="{{ SP.DIR_IMAGES }}/ten-foundation.jpg" width="" height="">
	</div>

	<aside class="notes">
		Foundation use a Boolean switch called "include-html" so we can control what is compiled.
	</aside>
</section>
