<section>
	<h1><span class="sol-yellow">6.</span> Mixin libraries are cheap...</h1>

	<div class="bourbon">
		<img src="{{ SP.DIR_IMAGES }}/ten-bourbon.jpg" width="" height="">
	</div>

	<aside class="notes">
		Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
	</aside>
</section>


<section>
	<h1>.. or optionally output CSS.</h1>

	<div class="foundation">
		<img src="{{ SP.DIR_IMAGES }}/ten-foundation.jpg" width="" height="">
	</div>

	<aside class="notes">
		Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
	</aside>
</section>
