<section>
	<h1><span class="sol-yellow">6.</span> Mixin libraries are cheap</h1>

	<aside class="notes">
		One that took me a while to figure out<br>
		<strong>Mixin libraries are cheap!</strong><strong style="color:green"> [DOWN]</strong>
	</aside>
</section>

<section>
	<div class="bourbon">
		<a target="_blank" href="https://github.com/thoughtbot/bourbon/blob/master/dist/_bourbon.scss"><img src="{{ SP.DIR_IMAGES }}/ten-bourbon.jpg" width="" height=""></a>
	</div>

	<aside class="notes">
		A mixin library doesn't output any CSS. <br>
		So you can have as many Mixins as you like <br>
		and unless you use them they won't be sent to the browser<strong style="color:green"> [DOWN]</strong>
	</aside>
</section>


<section>
	<h1>.. or optionally output CSS</h1>

	<aside class="notes">
		Or some Frameworks like Foundation make this optional<strong style="color:green"> [DOWN]</strong>
	</aside>
</section>


<section>
	<div class="foundation">
		<a target="_blank" href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_accordion.scss"><img src="{{ SP.DIR_IMAGES }}/ten-foundation.jpg" width="" height=""></a>
	</div>

	<aside class="notes">
		Foundation have a simple Boolean switch called "include-html" to handle this <strong style="color:#1e90ff">[RIGHT]</strong>
	</aside>
</section>


