<h1>Don't be too serious.</h1>

https://github.com/caffeinatedlabs/codeblog/blob/master/assets/craftstrap.sass
{{#markdown}}
	// COLOR SCHEMES
	$leche: #BBA993
	$caramel: #CC9966
	$shit-brown: #330000
	$craft-red: rgb(238, 64, 55)
	$dark-red: #660000
	$satan-grey: #666
	$tres-gris: #333
{{/markdown}}