<section>
	<h1><span class="sol-yellow">10. </span> Don't be too serious.</h1>

	<aside class="notes">
		Ten. Dont be too serious.<strong style="color:green"> [DOWN]</strong>
	</aside>
</section>


<section>

	<div class="mine-and-theirs--diagonal">
		<div class="first caffeinated">
			<img src="{{ SP.DIR_IMAGES }}/twenty-two-caffeinatedlabs.jpg" height="" width="800">
			<!-- https://github.com/caffeinatedlabs/codeblog/blob/master/assets/craftstrap.sass -->
		</div>

		<div class="second fragment" data-fragment-index="1">
			<img src="{{ SP.DIR_IMAGES }}/twenty-two-comments-mine.jpg" height="" width="750">
		</div>
	</div>


	<aside class="notes">
		We're CSS devs and we still like to have fun<strong style="color:green"> [DOWN]</strong><br><br>
		Remember that most things get stripped out in the compile so you probably wont get fired.<strong style="color:#1e90ff">[RIGHT]</strong>
	</aside>
</section>
