<h1>Read some Framework code.</h1>

<address>
	<p><a href="mailto:elise.chant@gmail.com">elise.chant@gmail.com</a></p>
	<p><a target="_blank" href="http://twitter.com/elisechant">@elisechant</a></p>
</address>


<aside class="notes">
	Ok, thanks very much.
</aside>