<section>
	<h1><span class="sol-yellow">10.</span> Throw errors.</h1>

	<aside class="notes">
		Ten. Throw errors<strong style="color:green"> [DOWN]</strong>
	</aside>
</section>

<section>
	<h1>Throw errors.</h1>

	<div class="bourbon">
		<img src="{{ SP.DIR_IMAGES }}/twenty-bourbon.jpg" width="" height="">
	</div>

	<br>
	<br>
	<br>

	<div class="sassy-math fragment" data-fragment-index="0">
		<img src="{{ SP.DIR_IMAGES }}/twenty-sassy-math.jpg" width="" height="">
	</div>

	<aside class="notes">
		Bourbon use errors to give deprecating warnings<br><br>
		Sassy-math use errors to emit type warnings <br>
		and then use a @return false to exit the function.<strong style="color:#1e90ff">[RIGHT]</strong>
	</aside>

</section>
