<section>
	<h1><span class="sol-yellow">10½. </span> Don't be too serious.</h1>

	<aside class="notes">
		10 and a half. Dont be too serious.
	</aside>
</section>


<section>

	<div class="mine-and-theirs--diagonal">
		<div class="first caffeinated">
			<img src="{{ SP.DIR_IMAGES }}/twenty-two-caffeinatedlabs.jpg" height="" width="800">
			<!-- https://github.com/caffeinatedlabs/codeblog/blob/master/assets/craftstrap.sass -->
		</div>

		<div class="second fragment" data-fragment-index="1">
			<img src="{{ SP.DIR_IMAGES }}/twenty-two-mine.jpg" height="" width="750">
		</div>
	</div>


	<aside class="notes">
		At the end of the day, we're CSS devs and we still like to have fun<strong style="color:green"> [NEXT]</strong><br><br>
		And remember that most things get stripped out in the compile so you probably wont get fired.
	</aside>
</section>
