<section>
	<h1><span class="sol-yellow">9.</span> Guard arguments</h1>

	<aside class="notes">
		If you code is going to be reusable, you need to be <br>
		Guarding your arguments
	</aside>
</section>


<section>
	<h1>.. check for empty arguments</h1>

	<br>
	<div class="toolkit">
		<img src="{{ SP.DIR_IMAGES }}/two-empty-params-toolkit.jpg" width="" height="">
	</div>

	<aside class="notes">
		you can check for empty arguments with the length function like Toolkit do,<br>
		then you might do something like setting a default value for this condition or emitting a warning
	</aside>
</section>


<section>
	<h1>.. predefine <em>optional</em> arguments with <code>null</code></h1>

	<br>
	<div class="toolkit">
		<img src="{{ SP.DIR_IMAGES }}/two-null-toolkit.jpg" width="" height="">
	</div>

	<aside class="notes">
		Predefine optional arguments with null<br>
		this could be a good way of turning off a feature in your mixin
	</aside>
</section>


<section>
	<h1>.. guard the argument order</h1>

	<br>
	<div class="compass">
		<img src="{{ SP.DIR_IMAGES }}/two-idiot-compass.jpg" width="" height="">
	</div>

	<aside class="notes">
		Guard the argument order like Compass do<br>
		<br>
		And the point is that there are many logic controls <br>
		that we have available to us<br>
		so <u>we should</u> use them more
	</aside>
</section>

