<section>
	<h1><span class="sol-yellow">9.</span> Guard arguments</h1>

	<aside class="notes">
		If you code is going to be reusable, you should be <br>
		Guarding your arguments
	</aside>
</section>


<section>
	<h1>.. check for empty arguments</h1>

	<br>
	<div class="toolkit">
		<img src="{{ SP.DIR_IMAGES }}/two-empty-params-toolkit.jpg" width="" height="">
	</div>

	<aside class="notes">
		Check for empty argument with the length function,<br>
		then you can do something like setting a default value or emitting a warning
	</aside>
</section>


<section>
	<h1>.. predefine <em>optional</em> arguments with <code>null</code></h1>

	<br>
	<div class="toolkit">
		<img src="{{ SP.DIR_IMAGES }}/two-null-toolkit.jpg" width="" height="">
	</div>

	<aside class="notes">
		Predefine optional arguments with null<br>
		this could be a good way of turning off a feature in your mixin
	</aside>
</section>


<section>
	<h1>.. guard argument order</h1>

	<br>
	<div class="compass">
		<img src="{{ SP.DIR_IMAGES }}/two-idiot-compass.jpg" width="" height="">
	</div>

	<aside class="notes">
		Guard argument order like Compass<br>
		The point there are many controls that we have available to us in our mixins<br>
		so why don't we use them more?
	</aside>
</section>

